# Configurações para Supabase CLI e Edge Functions
SUPABASE_URL=https://eozvjjtqoicyqooiuvqi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvenZqanRxb2ljeXFvb2l1dnFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwNjMxMTcsImV4cCI6MjA5MzYzOTExN30.LSBVxyztekk993z01ohWDnmR6oT1GMt8KVmeFkeuz60
DATABASE_URL=postgresql://postgres:admin%40viana26@db.eozvjjtqoicyqooiuvqi.supabase.co:5432/postgres
# SERVICE_ROLE_KEY=sua_chave_service_role_aqui
